### Satisfaction Analysis

In [1]:
from sklearn.cluster import KMeans
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import os
# os.chdir('..')

In [2]:
import sys
sys.path.append('..')

#### Assign engagement and experience scores to users

In [3]:
from scripts.tellcoAnalysis import assign_engagement_experience_scores

In [5]:
aggregated_data_user_engagement = pd.read_csv("../data/processed/aggregated_data_user_engagement.csv")
aggregated_average_experience_analysis = pd.read_csv("../data/processed/aggregated_average_experience_analysis.csv")
xdr_data = pd.read_csv("../data/processed/xdr_data1.csv")

In [6]:
data_with_scores = assign_engagement_experience_scores(xdr_data, aggregated_data_user_engagement,aggregated_average_experience_analysis)

#### Calculate a satisfaction score based on the average of engagement and experience scores

In [7]:
from scripts.tellcoAnalysis import calculate_satisfaction_score, find_top_satisfied_customers

In [8]:
data_with_satisfaction = calculate_satisfaction_score(xdr_data)

#### Data with satisfaction score

In [9]:
data_with_satisfaction.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes),Total_DL_+_UL,decile_class,engagement_score,experience_score,satisfaction_score
0,1.311448e+13,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,244912.0,2.082014e+08,33664.962239,3.552121e+07,9.16456699548519E+015,...,14.344150,171.744450,8.814393,36.749741,308.879636,345.629377,Decile 5,3.590259e+15,7929.929379,1.795129e+15
1,1.311448e+13,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,244912.0,2.082019e+08,33681.854413,3.579401e+07,L77566A,...,1.170709,526.904238,15.055145,53.800391,653.384965,707.185356,Decile 5,3.590259e+15,7941.136944,1.795129e+15
2,1.311448e+13,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,244912.0,2.082008e+08,33734.564203,3.528151e+07,D42335A,...,0.395630,410.692588,4.215763,27.883638,279.807335,307.690973,Decile 5,3.590259e+15,7954.950660,1.795129e+15
3,1.311448e+13,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,244912.0,2.082014e+08,33734.564203,3.535661e+07,T21824A,...,10.849722,749.039933,12.797283,43.324218,846.028530,889.352748,Decile 5,3.590259e+15,7909.076621,1.795129e+15
4,1.311448e+13,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,244912.0,2.082014e+08,33699.795932,3.540701e+07,D88865A,...,3.529801,550.709500,13.910322,38.542814,569.138589,607.681403,Decile 5,3.590259e+15,7954.950660,1.795129e+15

#### Top ten satisfied customers

In [10]:
top_satisfied_customers = find_top_satisfied_customers(data_with_satisfaction, 10)

print("Top 10 satisfied customers:")
print(top_satisfied_customers)

Top 10 satisfied customers:
10706    33608.645229
98269    33659.051810
96839    33664.628099
15700    33659.840148
96052    33659.926667
4532     33641.760778
5624     33637.716884
21129    33667.880323
13065    33613.821603
22071    33661.390606
Name: MSISDN/Number, dtype: float64

#### Build a regression model to predict customer satisfaction scores based on engagement and experience

In [11]:
from scripts.tellcoAnalysis import build_regression_model